# ========================
# Node
# ========================
node_modules/
dist/
.npm

# ========================
# Environment
# ========================
.env
.env.local
.env.*.local

# ========================
# Prisma
# ========================
prisma/*.db
prisma/*.db-journal

# ========================
# Logs
# ========================
logs/
*.log
npm-debug.log*

# ========================
# Testing
# ========================
coverage/
.jest-cache/

# ========================
# IDEs
# ========================
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# ========================
# Build
# ========================
*.tsbuildinfo
